<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Index" />
  <meta charset="utf-8">
  <title>Medic to Medic Student Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
  
<div class="container">
<br/>
<a href="/list/students">
    <img src="/static/logo.png"/><hr/>
</a>

  <!-- <div class="dropdown">
    <button style="background-color: orange;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Tasks
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/list/students">Students</a>
        <a class="dropdown-item" href="/reports/">Reports</a>
        <a class="dropdown-item" href="/list/courses">Courses</a>
        <a class="dropdown-item" href="/list/universities">Universities/Colleges</a>
        <a class="dropdown-item" href="/google/logout">Logout</a>
    </div>
  </div> -->
   <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <ul>
            <li><a class="dropdown-item" href="/list/students">Students</a></li>
            <li><a class="dropdown-item" href="/list/courses">Courses</a></li>
            <li><a class="dropdown-item" href="/list/universities">Universities</a></li>
            <li><a class="dropdown-item" href="/equipmentpacks">Equipment Packs</a></li>
            <li><a class="dropdown-item" href="/list/books">Books</a></li>
            <li><a class="dropdown-item" href="/reports/">Reports</a></li>
            <li><a class="dropdown-item" href="/google/logout">Logout</a></li>

        </ul>
    </nav>


<hr/>
    {% block content %}{% endblock %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  padding: 8px;
  background-color: #dddddd;
}

body {
  padding-bottom: 60px;
}


{#a {#}
{#    color: darkblue;#}
{#    text-decoration: none;#}
{#    float: left;#}
{#    background-color: lightpink;#}
{#    border: dashed;#}
{#    text-align: center;#}
{#}#}


</style>
