{% extends 'base.html' %}

{% block content %}
{% raw %}
<input type="file" id="file_input"/>
<p id="status">Please select a file</p>
<img id="preview" src="/static/default.png" />

<form method="POST" action="/submit_form/">
  <input type="hidden" id="avatar-url" name="avatar-url" value="/static/default.png">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="full-name" placeholder="Full name">
  <input type="submit" value="Update profile">
</form>
{% endraw %}

<script src="/static/awsS3Access.js"></script>
<script>
    document.getElementById("file_input").onchange = function(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
        file = new File([file], '1/'+file.name, {type: file.type});
        return alert("No file selected.");
    }
    getSignedRequest(file);
  };
</script>
{% endblock %}